body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;  /* Asegura que el cuerpo tenga altura suficiente */
    background-image: url('https://abadie10.github.io/smash64/background.png');
    background-size: cover;  /* Ajusta la imagen para cubrir el fondo */
    background-position: center;  /* Centra la imagen */
    background-repeat: no-repeat;  /* No repite la imagen */
    color: white;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 20px 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);  /* Fondo semi-transparente para el menú */
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
}

nav ul li a:hover {
    background-color: #1abc9c;
    border-radius: 5px;
}

nav ul li a.active {
    background-color: #1abc9c; /* Cambia el color de fondo para destacarlo */
    color: white;
    border-radius: 5px;
}

.content-container {
    background-color: rgba(0, 0, 0, 0.7);  /* Fondo semi-transparente */
    padding: 20px;
    max-width: 800px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);  /* Añade una sombra */
}

.personaje-img {
    width: 50px; /* Ajusta el tamaño de la imagen a 150px de ancho */
    height: auto; /* Mantiene las proporciones correctas */
    border-radius: 10px; /* Opcional: añade bordes redondeados */
}

.global-title {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    display: flex; /* Usa flexbox para alinear la imagen y el texto */
    align-items: center;
    justify-content: center;
}

header .global-title .logo {
    width: 100px; /* Ajusta el tamaño del logo */
    max-width: 100px !important;
    height: auto;
    margin-right: 15px; /* Añade espacio entre el logo y el título */
}


nav ul {
    margin-top: 0; /* Elimina cualquier margen extra entre la barra y el menú */
}

.tabla-jugadores, .tabla-info-jugador {
    width: 100%; /* Asegura que ambas tablas ocupen el 100% del ancho disponible */
    border-collapse: collapse;
}

.tabla-jugadores {
    width: 100%;
    margin-bottom: 20px; /* Añade espacio debajo de la tabla de jugadores */
}

.tabla-info-jugador {
    width: 100%;
    margin-top: 20px; /* Añade espacio encima de la tabla de información */
}

.tabla-jugadores td, .tabla-info-jugador td {
    width: 33.33%; /* Asegura el mismo ancho para las celdas */
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.tabla-jugadores td {
    cursor: pointer; /* Hace que el cursor se vea como una mano al pasar sobre las celdas */
}

.tabla-jugadores tr, .tabla-info-jugador tr {
    background-color: rgba(0, 0, 0, 0.7);
}


.jugador-seleccionado {
    background-color: #1abc9c; /* Color de fondo cuando esté seleccionado */
    color: white;
    border-radius: 5px;
}



.imagen-celda {
    text-align: center;
    vertical-align: middle;  /* Centra la imagen verticalmente */
}

.personaje-img {
    width: 150px;
    height: auto;
    display: block;
    margin: 0 auto;  /* Centra la imagen horizontalmente */
}


